<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <title>{{pageTitle}} - Betanito</title>

    <link rel="stylesheet" href="/css/styles.css">

    <link rel="icon" href="/images/betanito/icon.ico" type="image/x-icon">
</head>

<body>
  <div class="contenedor-principal">
    <header>
      <div class="logo-nav-container">
        <a class="logo" href="{{url 'home'}}">
          <img src="/images/betanito/logo.png" alt="Logo Betanito 2.0">
        </a>

        <nav class="menu-principal">
          <ul>
            {{navLink pageTitle "Inicio" "home"}}
            {{navLink pageTitle "Ruleta" "roulette"}}
            {{navLink pageTitle "Transacciones" "transactions"}}
            {{navLink pageTitle "Sobre Nosotros" "aboutUs"}}
            {{navLink pageTitle "Reglas de la Ruleta" "rouletteRules"}}
          </ul>
        </nav>
      </div>

      <div class="accesos">
        {{#if isAuthenticated}}
          {{#ifCond pageTitle "Perfil"}}
            <a class="btn btn-actual">Perfil</a>
          {{else}}
            <a href="{{url 'profile'}}" class="btn btn-acceso">Perfil</a>
          {{/ifCond}}

          <a href="{{url 'logout'}}" class="btn btn-logout">Cerrar Sesión</a>
        {{else}}
          <a href="{{url 'register'}}" class="btn btn-acceso">Registro</a>

          <a href="{{url 'login'}}" class="btn btn-acceso">Inicio Sesion</a>
        {{/if}}
      </div>
    </header>

    {{{body}}}
  </div>

  <footer>
    <p>Proyecto académico - 2025</p>
  </footer>
</body>
</html>
