<main>
  <section class="contenido-izquierdo">
    <div class="texto-bienvenida">
       <h1>Perfil de Usuario</h1>

       <div class="seccion-perfil">
         <h2>Información Personal</h2>
         
         <div class="info-usuario">
           <p><strong>Usuario:</strong> {{usuario.user}}</p>
           
           <p><strong>Nombre:</strong> {{usuario.name}} {{usuario.surname}}</p>
           
           <p><strong>RUT:</strong> {{usuario.rut}}</p>
           
           <p><strong>Email:</strong> {{usuario.mail}}</p>
         </div>
       </div>

       <div class="seccion-perfil">
         <h2>Saldo Actual</h2>
         
         <div class="saldo-actual">
           <p class="monto-saldo">{{formatCurrency usuario.balance}} CLP</p>
         </div>
       </div>

       <div class="seccion-perfil">
         <h2>Últimas Transacciones</h2>
         
         <div class="tabla-transacciones">
           <table>
             <thead>
               <tr>
                 <th>Fecha</th>
                 
                 <th>Tipo</th>
                 
                 <th>Detalle</th>
                 
                 <th>Monto</th>
               </tr>
             </thead>
             
             <tbody>
                {{#each transacciones}}
                  <tr>
                    <td>{{formatDate this.timestamp}}</td>
                    
                    <td>{{this.type}}</td>
                    
                    <td>{{this.betType}}</td>
                    
                    <td class="{{#ifCond this.type 'deposit'}}monto-positivo{{/ifCond}}{{#ifCond this.type 'win'}}monto-positivo{{/ifCond}}{{#ifCond this.type 'withdrawal'}}monto-negativo{{/ifCond}}{{#ifCond this.type 'bet'}}monto-negativo{{/ifCond}}">
                      {{formatCurrency this.amount}}
                    </td>
                  </tr>
                {{else}}
                  <tr>
                    <td colspan="4">No hay transacciones recientes.</td>
                  </tr>
                {{/each}}
             </tbody>
           </table>
         </div>
       </div>
     </div>
  </section>

  <section class="contenido-derecho">
    <img src="/images/bg/perfil_casino.jpg" alt="Imagen de casino">
  </section>
</main>
